BES_SERVER=https://bes-root.local:52311
BES_USERNAME=my_bigfix_username
BES_PASSWORD=my_bigfix_password
BES_TOKEN_NAME=my_api_token
BES_TOKEN_DURATION=30
REQUESTS_CA_BUNDLE=c:\bes\bundle.pem
REPLACE_TOKEN=False
BES_TOKEN=6H2Al3m_GXuRGxq,,,
